singularity {
    enabled = true
    runOptions = '--nv'
}

process {
  beforeScript = 'ml singularity'
  executor = 'lsf'
  withLabel: 'non_gpu' {
//    clusterOptions = '-L /bin/bash -P acc_HIMC -n 32 -R rusage[mem=4000]'
//    clusterOptions = '-L /bin/bash -P acc_HIMC -R himem'
    clusterOptions = '-L /bin/bash -P acc_HIMC'
    memory = 40.GB
    cpus = 8
    queue = 'premium'
    time = '120h'
  }
  withLabel: 'gpuFIX' {
    clusterOptions = '-L /bin/bash -P acc_HIMC -n 32 -R a100 -R rusage[ngpus_excl_p=1]'
    queue = 'gpuexpress'
    time = '12h'
  }
  withLabel: 'gpu' {
    clusterOptions = '-L /bin/bash -P acc_HIMC -n 32 -R v100 -R rusage[ngpus_excl_p=1]'
    queue = 'gpu'
    time = '144h'
  }
  withName: cell2location {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_cell2location_0.1.2.sif'
  }
  withName: tangram {
    container = '/sc/arion/projects/HIMC/singularity_images/tangram_latest.sif'
  }
  withName: destvi {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_destvi_latest.sif'
  }
  withName: stereoscope {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_destvi_latest.sif'
  }
  withName: seurat {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_seurat_4.2.1.sif'
  }
  withName: spotlight {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_spotlight_1.0.0.sif'
  }
  withName: spatialdwls {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_giotto_1.1.2.sif'
  }
}
