singularity {
    enabled = true
    runOptions = '--nv'
}

// NVIDIAA100_PCIE_40GB, TeslaV100_PCIE_16GB, TeslaV100_PCIE_32GB, NVIDIAA100_SXM4_80GB

process {
//  beforeScript = 'module purge; ml singularity anaconda3/4.6.4'
  beforeScript = 'ml singularity'
  executor = 'lsf'
  withLabel: 'non_gpu' {
    clusterOptions = '-L /bin/bash -P acc_HIMC -M 160000 -R rusage[mem=130000] -n 2 -R span[hosts=1]'
//    cpus = 22
//    clusterOptions = '-L /bin/bash -P acc_HIMC -M 1300000 -R himem -R rusage[mem=1300000] -n 2'
//    clusterOptions = '-L /bin/bash -P acc_HIMC -M 1000000 -R himem -R rusage[mem=990000] -n 1'
    queue = 'premium'
    time = '120h'
  }
  withLabel: 'gputest' {
    clusterOptions = '-L /bin/bash -P acc_HIMC -n 1 -gpu num=2:gmodel=TeslaV100_PCIE_32GB'
    queue = 'gpuexpress'
    time = '12h'
  }
  withLabel: 'gpu' {
    clusterOptions = '-L /bin/bash -P acc_HIMC -n 1 -gpu num=1:gmodel=TeslaV100_PCIE_16GB -M 326000 -R rusage[mem=300000]'
    queue = 'gpu'
    time = '144h'
  }
  //From Bladder Renal samples, switched cell2location from singularity to local conda environment
  withName: cell2location {
    container = '/sc/arion/projects/HIMC/singularity_images/cell2location_latest.sif'
    //container = '/sc/arion/projects/HIMC/singularity_images/himc_cell2location_0.1.2.sif'
    //container = '/sc/arion/projects/HIMC/singularity_images/cell2location-v0.06-alpha.sif'
    //conda = '/sc/arion/work/dsouzd04/conda_envs/cell2loc_env'
  }
  withName: tangram {
    container = '/sc/arion/projects/HIMC/singularity_images/tangram_latest.sif'
  }
  withName: destvi {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_destvi_latest.sif'
  }
  withName: stereoscope {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_destvi_latest.sif'
  }
  withName: seurat {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_seurat_4.2.1.sif'
  }
  withName: spotlight {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_spotlight_1.0.0.sif'
    clusterOptions = '-L /bin/bash -P acc_HIMC -M 1000000 -R himem -R rusage[mem=990000] -n 1' 
    queue = 'premium'
    time = '144h'
    //clusterOptions = '-L /bin/bash -P acc_HIMC -M 1000000 -n 20 -R rusage[mem=50000] -R himem -q premium'
  }
  withName: spatialdwls {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_giotto_1.1.2.sif'
  }
  withName: stride {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_stride_latest.sif'
  }
  withName: rctd {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_rctd_2.0.3.sif'
  }
}
