singularity {
    enabled = true
    runOptions = '--nv'
}

process {
  beforeScript = 'ml singularity'
  executor = 'local'
//  withLabel: 'non_gpu' {
//    clusterOptions = '-L /bin/bash -P acc_HIMC -n 32 -R rusage[mem=4000]'
//    clusterOptions = '-L /bin/bash -P acc_HIMC -R himem'
//    clusterOptions = '-L /bin/bash -P acc_HIMC'
//    memory = 60.GB
//    cpus = 16
//    queue = 'premium'
//   time = '120h'
//  }
//  withLabel: 'gpuFIX' {
//    clusterOptions = '-L /bin/bash -P acc_HIMC -n 32 -R a100 -R rusage[ngpus_excl_p=1]'
//    queue = 'gpuexpress'
//    time = '12h'
//  }
//  withLabel: 'gpu' {
//    clusterOptions = '-L /bin/bash -P acc_HIMC -n 32 -gpu num=2:gmodel=TeslaV100_PCIE_16GB'
//    queue = 'gpu'
//    time = '144h'
//  }
  withName: cell2location {
    container = '/sc/arion/projects/HIMC/singularity_images/cell2location-v0.06-alpha.sif'
  }
  withName: tangram {
    container = '/sc/arion/projects/HIMC/singularity_images/tangram_latest.sif'
  }
  withName: destvi {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_destvi_latest.sif'
  }
  withName: stereoscope {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_destvi_latest.sif'
  }
  withName: seurat {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_seurat_4.2.1.sif'
  }
  withName: spotlight {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_spotlight_1.0.0.sif'
  }
  withName: spatialdwls {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_giotto_1.1.2.sif'
  }
  withName: stride {
    container = '/sc/arion/projects/HIMC/singularity_images/sp_stride_latest.sif'
  }
}
